[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/keenu1227
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/keenu1227
	label-Verified = -1..+1 group user/keenu1227
	push = group user/keenu1227
	read = group user/keenu1227
	rebase = group user/keenu1227
	removeReviewer = group user/keenu1227
	submit = group user/keenu1227
[access "refs/heads/*"]
	create = group user/keenu1227
	push = +force group user/keenu1227
	pushMerge = group user/keenu1227
	read = group user/keenu1227
[access "refs/tags/*"]
	push = group user/keenu1227
	push = +force group user/keenu1227
